*{
    margin: 0px;
    padding: 0px;
}

div{
    border: .1px solid black;
    width: 99%;
    padding: 10px;
    margin: 10px;
    margin-right: 10px;
    box-sizing: border-box;
}
input{
    width: 99%;
    height: 20px;
    padding: 5px;
    font-weight: bold;
}

#result {
    border: 1px solid red;
    height: 20px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}
#wrong{
    border: 1px solid red;
    height: 20px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

#btn{
    width: 100px;
    height: 25px;
    margin-top: 10px;
}